body {
    font-family: arial;
}

/* section {
    /* width: 1024px; */
/* } */


.text-center {
    text-align: left;
    margin: 7px;
    padding: 7px;
    /* font-size: 18px; */
}

.property {
    /* margin-left: 200px; */
    font-weight: 700;
    /* width : 100%;
    margin : auto; */
}

.property-header {
  font-weight: 600;
  text-align: left;
  /* margin-right: -100px;   */
}

.text-left {
   margin-left: 10px;
}

.photo-comment {
    font-size: 12px;
}

.photo-date {
    font-size: 12px;
}

.heading {
    width: 100%;
    color: white;
    /* background: #5a5a5a; */
    background: #1D5C91;
    padding: 5px 2px;
    font-size: 18px;
}

.heading-title {
    margin-left: 10px;
}

.checkbox {
    width: 15px;
    height: 15px;
    border-radius: 0px;
    border: 1px solid grey;
    position: relative;
}
.checkbox.checked:after {
    /* content: "✕";
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top: -2px;
    left: 2px;
    color: red; */

    content: "✕";
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top: -3px;
    left: 1px;
    color: green;
}
/* .checkbox.checked.yes:after {
    content: "√";
    font-size: 22px;
    font-weight: bold;
    position: absolute;
    top: -2px;
    left: 0;
    content: '✓'!important;
	color: green!important;;
} */

table {
    width: 100%;
}

/* @media print {
    tr.page-break  { display: block; page-break-before: always; }
}    */

table thead th {
    font-size: 12px;
}

.table.page-break {
  page-break-after: always;
}

tr.page-break {
  page-break-after: always;
}
.table tr.page-break {
  page-break-after: always;
}


.area {
  margin: 1px;
  padding: 1px;
  width: 100%;
  overflow-wrap: break-word;
  /* word-wrap: break-word; */
  word-break:break-all;
  /* margin-top: 5px; */
}
.area-title {
  color: #005A7C;
  font-weight: 400;
  margin-bottom: 12px;
}

.area-room-label {
  /* color: #005A7C; */
  font-size: 10px;
  font-weight: 600;
  margin-bottom: 5px;
  margin-left: 3px;
}

.area-comment{
    font-size: 12px;
    overflow-wrap: break-word;
    /* word-wrap: break-word; */
    word-break:break-all;
}
.area-date {
    font-size: 12px;
}

table:not(.table) th:not(:empty){
    background-color: #e3e3e3;
}

.notes {
    width: 100%;
    min-height: 50px;
    border: 2px solid #5a5a5a;
    display: block;
}

.signature {
    min-height: 180px;
}

.n-m-b {
    margin-bottom: 0;
}

.thumbnail {
    border: 1px solid #e3e3e3;
    padding: 3px;
    border-radius: 2px;
}

tfoot {
    color: white;
    background: #5a5a5a;
    font-size: 18px;
}

tfoot td {
    padding: 5px;
}

tbody td:not(:first-child) {
    padding-left: 15px;
}

tbody .row-style:nth-child(even){
    background-color: #f3f3f3;
}

.row-style {
    font-size: 12px;
}


table{
    border-collapse:collapse;
}

tr td{
    page-break-inside: avoid;
    white-space: nowrap;
}


/*  Property details table */

.property-details-table {
    margin-bottom: 20px;
}

.photo-detail-cell {
    background-color:  #f3f3f3;
    margin-top: 4px;
    border: 1px;
    border-color: gainsboro;
    margin-top: 2px;
    border-style: solid;
    margin-bottom: 10px;
    height: 131px;
}

#pageFooter {
  font-size: 8px;


}
